.git
.gitignore
.gitea
.docker-tmp

**/node_modules
**/dist
**/build
**/.dart_tool
**/.gradle
**/.idea
**/.pub
**/.pub-cache
**/.flutter-plugins-dependencies
**/coverage

.env
backend/.env
app/android/local.properties
uploads
